<ul>
  <% @items.each do |item| %>
    <li>
      <%= item.title %>
      <%= link_to 'Show', item_path(item) %>
      <%= link_to 'Edit', edit_item_path(item) %>
      <%= link_to 'Destroy', item_path(item), method: :delete, data:{ confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Item', new_item_path %>